*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    /* Colors */
    --indigo-dye: #08415cff;
    --persian-red: #cc2936ff;
    --ultra-pink: #f26df9ff;
    --silver: #a9aca9ff;
    --dark-purple: #260c1aff;
}

html {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 138, 152);
    font-family: 'Inter', sans-serif;
}

*:focus {
    outline: none;
}

.calculator {
    width: 25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    background-color: var(--dark-purple);
    border-radius: 1rem;
    box-shadow: 0 0 10rem .5rem #00000050;
}

.calcDisplay {
    width: 100%;
    font-size: 4rem;
    text-align: right;
    overflow: scroll;
    color: #ffffff;
    background-color: var(--indigo-dye);
    border: none;
    border-radius: .5rem;
    padding: 1rem;
}

.operators {
    display: grid;
    gap: .625rem;
    gap: .625rem;
    grid-template-columns: repeat(4, 1fr);
}

.calcButtons {
    display: grid;
    gap: .625rem;
    grid-template-columns: repeat(4, 1fr);
}

.inputButton {
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: .5rem;
    color: #ffffff;
    background-color: var(--silver);
    cursor: pointer;
}

.inputButton:hover {
    background-color: #a9aca980;
}

.inputButton:active {
    background-color: #a9aca995;
}


.delBtn {
    background-color: var(--persian-red);
}

.delBtn:hover {
    background-color: #cc293680;
}

.delBtn:active {
    background-color: #cc293695;
}

.orgBtn {
    background-color: var(--ultra-pink);
}

.orgBtn:hover {
    background-color: #f26df980;
}

.orgBtn:active {
    background-color: #f26df995;
}